In [19]:
import pandas as pd
import numpy as np

print(pd.Series([1,2,3]))

0    1
1    2
2    3
dtype: int64

In [4]:

a_array=np.array([
    [1,2],
    [3,4]
])

a_df=pd.DataFrame(
    {'a':[1,3],
     'b':[2,4]}
)
print("numpy array:\n",a_array)
print('\npandas df:\n',a_df)

numpy array:
 [[1 2]
 [3 4]]

pandas df:
    a  b
0  1  2
1  3  4

# 1 Basic Operation
## 1.1 File Operation

Pandas can read data from Excel, txt, csv and even website

In [14]:
# read data from xsls
df=pd.read_excel('physical_examing_data.xlsx',index_col=0) # index_col use column as index
# df=pd.read_excel('physical_examing_data.xlsx')
df

# store xlsx data
df.loc[2,'体重']=1
print(df)
df.to_excel('modified_examing_data.xlsx')

pd=pd.read_excel('modified_examing_data.xlsx')
pd

    姓名   身高  体重   肺活量
学号
1   小明  168  60  3200
2   小黄  187   1  3800
3   小花  170  70  3400

   学号  姓名   身高  体重   肺活量
0   1  小明  168  60  3200
1   2  小黄  187   1  3800
2   3  小花  170  70  3400

In [23]:
# use Python to read data
with open('physical.csv','r',encoding='utf-8') as f:
    print(f.read())

# use pandas to read csv
# read csv can be also used to read txt file
df_csv=pd.read_csv('physical.csv',index_col=0)
df_csv

# store data to csv/txt
df_csv.to_csv('physical.txt')

# read from txt
df_txt=pd.read_csv('physical.txt')
df_txt

学号,姓名,身高,体重,肺活量
1,小明,168,60,3200
2,小黄,187,80,3800
3,小花,170,70,3400

   学号  姓名   身高  体重   肺活量
0   1  小明  168  60  3200
1   2  小黄  187  80  3800
2   3  小花  170  70  3400

## 2.1 Data in Pandas

1. Series
2. DataFrame

In [27]:
# data series

import pandas as pd

l=[11,22,33]
s=pd.Series(l)
print('list: ',l)
print('series:\n',s)

list:  [11, 22, 33]
series:
 0    11
1    22
2    33
dtype: int64

In [32]:
# pandas craete index for us, and we can mannully set the index
s=pd.Series(l,index=['a','b','c']) # use list to create series
print(s)

s=pd.Series({'a':1,'b,':2,'c':3})  # use dict to create series
print(s)

s=pd.Series(np.random.rand(3),index=['a','b','c']) # use numpy to create series
print(s)
# from pandas to numpy
print('array: ',s.to_numpy())
# from pandas to list
print('list: ',s.tolist())

a    11
b    22
c    33
dtype: int64
a     1
b,    2
c     3
dtype: int64
a    0.959669
b    0.015147
c    0.659734
dtype: float64
array:  [0.95966885 0.0151474  0.65973353]
list:  [0.9596688547063419, 0.015147401498772917, 0.6597335257614889]

In [33]:
# data frame
df=pd.DataFrame([
    [1,2],
    [3,4]
])

print(df)

   0  1
0  1  2
1  3  4

In [35]:
# access data
print(df.at[0,1])

# set index while creating DataFrame
df=pd.DataFrame({'col1':[1,3],'col2':[2,4]})
print(df)

2
   col1  col2
0     1     2
1     3     4

In [38]:
# get Series from DataFrame
print(df['col1'],'\n')
print('data type: ',type(df['col1']))

s=pd.Series([1.0,2.0,3.0],index=['a','b','c'])
df=pd.DataFrame({'col1':[1,3],'col2':[2,4]},index=['a','b'])
print(s,'\n')
print(df)

0    1
1    3
Name: col1, dtype: int64

data type:  <class 'pandas.core.series.Series'>
a    1.0
b    2.0
c    3.0
dtype: float64

   col1  col2
a     1     2
b     3     4

In [39]:
print(df.index,'\n') # index is row
print(df.columns)

Index(['a', 'b'], dtype='object')

Index(['col1', 'col2'], dtype='object')

In [40]:
# create from json
my_json_data=[
    {'age':12,'height':111},
    {'age':13, 'height':123}
]

df=pd.DataFrame(my_json_data,index=['Jack','Rose'])
print(df)

      age  height
Jack   12     111
Rose   13     123